.landing-con {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-landing {
  width: 79%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-r-con {
  width: 100%;

  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.ring-card {
  height: 365px;
  min-width: 31%;
  border: 1px solid #77121a;
  border-radius: 15px;
  position: relative;
}

.ring-tl {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.rng-dis {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.w-fo {
  font-family: "bodoni-bold";
  font-size: 42px;
  letter-spacing: -1px;
}

.x-fo {
  font-family: "hel-ord";
  font-size: 16px;
  color: #8e8e8e;
}

.card-details {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  bottom: 30px;
  right: 30px;
  width: 40%;
}

.rng-dis:hover {
  cursor: pointer;
}

.govv-pic {
  height: 30px;
  width: 30px;
  background-color: gray;
  border-radius: 50%;
  border: 2px solid black;
}
.govvv-text {
  font-family: "hel-ord";
  font-size: 11px;
  color: white;
}

.govv-main {
  display: flex;
  gap: 5px;
}

.gov-rin-text {
  font-family: "hel-ord";
  font-size: 11px;
}

.lnk {
  color: white;
}

.bl-span {
  font-family: "hel";
}

@media (max-width: 768px) {
  .inner-landing {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
  }
  .ring-card {
    width: 300px;
  }
}

@media (max-width: 663px) {
  .card-r-con {
    justify-content: center;
  }
  .ring-card {
    max-width: 320px;
  }
}

@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
  font-family: "hel";
  src: url("../fonts/HelveticaNeueMedium.otf") format("opentype");
}

@font-face {
  font-family: "hel-ord";
  src: url("../fonts/HelveticaNeueLight.otf") format("opentype");
}

@font-face {
  font-family: "bodoni-bold";
  src: url("../fonts/bodoni-72-bold.ttf") format("truetype");
}

@font-face {
  font-family: "bodoni-itl";
  src: url("../fonts/Bodoni-Italic.otf") format("opentype");
}
